{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "import/no-anonymous-default-export": "off",
    "react-hooks/exhaustive-deps": "off",
    "import/order": [
      2,
      {
        "groups": [
          "external",
          "builtin",
          "internal",
          "sibling",
          "parent",
          "index"
        ]
      }
    ],
    "quotes": [2, "single", { "avoidEscape": true }]
  }
}
